koala_content_mercury_images:
    pattern: /mercury/images
    defaults: {_controller: KoalaContentBundle:Mercury:images}
    requirements:
        _method: POST

koala_content_mercury_content:
    pattern: /mercury/content/{url}
    defaults: {_controller: KoalaContentBundle:Mercury:content, url: /}
    requirements:
        _method: PUT
        url: .+

koala_content_page_new:
    pattern: /new
    defaults: {_controller: KoalaContentBundle:Page:new}
    requirements:
        _method: GET

koala_content_page_create:
    pattern: /new
    defaults: {_controller: KoalaContentBundle:Page:create}
    requirements:
        _method: POST

koala_content_page_edit:
    pattern: /edit/{page_id}
    defaults: {_controller: KoalaContentBundle:Page:edit}
    requirements:
        _method: GET
        url: .+

koala_content_page_update:
    pattern: /edit/{page_id}
    defaults: {_controller: KoalaContentBundle:Page:update}
    requirements:
        _method: POST
        url: .+

koala_content_page_delete:
    pattern: /delete/{page_id}
    defaults: {_controller: KoalaContentBundle:Page:delete}
    requirements:
        _method: POST
        url: .+
