form fieldset.buttons .commit input.remove {
  background-color: #BD362F;
}

form fieldset.buttons .commit input.remove:hover {
  background-color: #942A25;
}

.mercury-primary-toolbar .mercury-newPage-button em, .mercury-expander-button[data-button="newPage"] em {
  background-image: url('../images/icons/glyphicons_036_file.png');
  background-position: 50% 12px !important;
}

.mercury-primary-toolbar .mercury-editPage-button em, .mercury-expander-button[data-button="editPage"] em {
  background-image: url('../images/icons/glyphicons_151_edit.png');
  background-position: 50% 12px !important;
}

form select.invalid,
form input[type="text"].invalid,
form input[type="password"].invalid,
form textarea.invalid,
form input.text.invalid {
  border: 2px solid #FBB;
  background-color: #FEE;
}
