{% extends 'form_div_layout.html.twig' %}

{% block form_label %}
{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
{{parent()}}
{% endblock %}

{% block form_row %}
{% spaceless %}
    <div class="control-group">
        {{ form_label(form, label|default(null)) }}
        {#
        If the child is a compound form, the errors are rendered inside
        the container. See also block form_rows.
        #}
        {% if not compound %}
            {{ form_errors(form) }}
        {% endif %}
        <div class="controls">
            {{ form_widget(form) }}            
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}
